<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polyfeed</title>
      <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body> <header>
        <nav>
            <a href="/">
           <img src="/static/logo.jpg" alt="Company Logo" id="navbar-logo">
        </a>

            <ul>

                <li><a href="/signup">SignUp</a></li>
                <li><a href="/guide">Installation Guide</a></li>

            </ul>
        </nav>
    </header>

    <main>

        <section>
            <h1>Welcome to Polyfeed</h1>
            <p>Your gateway to comprehensive feedback management</p>
        </section>
        <section>
            <h2>Latest extension build</h2>
            <a href="/static/files/build.zip" download>Download</a>
        </section>


        <section>
            <h2>Contact Us</h2>
            <p>
                polyfeed@email.com
            </p>
        </section>
    </main>


</body>
</html>
