<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Polyfeed</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/static/styles.css" />
    <meta
      name="google-site-verification"
      content="googlea290d9e36465651a.html"
    />
  </head>
  <body style="height: 100%">
    <header>
      <nav>
        <a href="/">
          <img src="/static/logo.jpg" alt="Company Logo" id="navbar-logo" />
        </a>

        <ul>
          <li><a href="/signup">SignUp</a></li>
          <li><a href="/privacypolicy">Privacy Policy</a></li>
        </ul>
      </nav>
    </header>

    <main style="height: 100%; width: 100%; padding: 20px">
      <section
        style="display: flex; flex-direction: column; align-items: center"
      >
        <h1>What is PolyFeed?</h1>
        <p class="Introduction-p" style="width: 50%; text-align: left">
          PolyFeed,is a feedback management system that aims to support learning
          by allowing students to manage feedback received on multiple
          assignments and across different courses in a single platform.
          Specifically, the browser extension of PolyFeed enables students to
          highlight and label feedback, make notes, create to-do lists, seek
          further clarifications from ChatGPT, and provide feedback on the
          feedback received from teachers. In addition, PolyFeed provides a
          dashboard visualising the insights from students' interactions with
          feedback, allowing them to track their common strengths and weaknesses
          in addition to the progression of their action plans based on
          feedback.
        </p>
      </section>

      <button style="width: 50%">
        <a
          style="color: white; margin-top: 20px; text-decoration: none"
          href="google.com"
          target="_blank"
          >Install the extension</a
        >
      </button>

      <section>
        <h1>The Team</h1>
        <div style="display: flex; flex-direction: row">
          <div
            style="
              padding: 20px;
              text-align: left;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
            "
          >
            <img
              style="width: 400px; height: 500px"
              src="/static/images/teams.png"
            />
          </div>

          <div
            style="
              padding: 20px;
              text-align: left;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
            "
          >
            <p style="width: 300px">
              We are from Center for Learning Analytics Monash (CoLAM)
            </p>
            <p style="width: 300px">
              A group of researchers working on Learning Analytics to support
              effective delivery and use of feedback
            </p>

            <p style="width: 300px">
              We are interested in capturing and analysing interactions with
              feedback - Feedback Analytics - to support teaching and learning
            </p>
          </div>
        </div>
      </section>

      <div
        style="
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 25px;
        "
      >
        <h2>Contact Us</h2>
        <p class="Introduction-p" style="width: 500px; text-align: left">
          If you have any questions or concerns about this Privacy Statement or
          our data practices, please contact us at
          <a href="mailto:fit-polyfeed@monash.edu">fit-polyfeed@monash.edu</a>
        </p>
      </div>
    </main>
  </body>
</html>
