<!DOCTYPE html>
<html lang="en" style="overflow-y: hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Polyfeed</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body style="overflow-y: scroll; padding: 20px">
    <header>
      <nav>
        <a href="/">
          <img src="/static/logo.jpg" alt="Company Logo" id="navbar-logo" />
        </a>
      </nav>
    </header>

    <main class="policies-main">
      <h1>Privacy Statement</h1>
      <div
        style="
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        "
      >
        <h2>Introduction</h2>
        <p class="Introduction-p" style="width: 500px; text-align: left">
          PolyFeed is committed to protecting the privacy of its users. This
          Privacy Statement explains how we collect, use, and safeguard your
          information when you use the PolyFeed Chrome extension.
        </p>
      </div>

      <h2>Data Collection and Use</h2>
      <div class="data-collection-grid">
        <div class="data-collection-div">
          <h3>User Authentication</h3>
          <p>
            PolyFeed is committed to protecting the privacy of its users. This
            Privacy Statement explains how we collect, use, and safeguard your
            information when you use the PolyFeed Chrome extension.
          </p>
        </div>

        <div class="data-collection-div">
          <h3>Data Storage</h3>
          <p>
            We store users' interaction with moodle feedback they received. The
            highlights, notes, to-do lists, and responses from ChatGPT will be
            stored in a secure relational database. When a record is deleted by
            a user, it is marked as inactive in the database rather than being
            permanently removed.
          </p>
        </div>

        <div class="data-collection-div">
          <h3>Data Visualization</h3>
          <p>
            The data collected is used to generate visualisations on the
            PolyFeed dashboard, offering insights into interactions with
            feedback, tracking common strengths and weaknesses, and monitoring
            the progression of action plans based on received feedback.
          </p>
        </div>

        <div class="data-collection-div">
          <h3>User Logs</h3>
          <p>
            We collect logs of user activity to analyse behaviour and improve
            the functionality of the tool. This data helps us understand how
            users interact with PolyFeed, allowing us to enhance user experience
            and service quality.
          </p>
        </div>

        <div class="data-collection-div">
          <h3>Data Security</h3>
          <p>
            We employ robust security measures to protect the data we handle.
            These include using HTTPS protocols on our website and securing all
            data transmissions to prevent unauthorised access, alteration, or
            destruction.
          </p>
        </div>

        <div class="data-collection-div">
          <h3>Compliance and Ethics</h3>
          <p>
            PolyFeed is dedicated to upholding the highest standards of data
            protection and ethical conduct. We regularly review our compliance
            policies and engage with legal and data protection experts to ensure
            that we meet all regulatory requirements and ethical standards in
            our operations.
          </p>
        </div>
      </div>

      <div
        style="
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 100px;
        "
      >
        <h2>Access and Control</h2>
        <p class="Introduction-p" style="width: 500px; text-align: left">
          Users have control over their information stored in the polyfeed tool.
          You can view, edit, or delete your data via the PolyFeed dashboard and
          extension. Data marked as inactive is securely stored and is not used
          for any processing or visualisation.
        </p>
      </div>

      <div
        style="
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 25px;
        "
      >
        <h2>Changes to This Privacy Statement</h2>
        <p class="Introduction-p" style="width: 500px; text-align: left">
          We may update this Privacy Statement periodically to reflect changes
          in our practices. We will notify users of any significant changes and
          indicate the date of the latest revision.
        </p>
      </div>

      <div
        style="
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 25px;
        "
      >
        <h2>Contact Us</h2>
        <p class="Introduction-p" style="width: 500px; text-align: left">
          If you have any questions or concerns about this Privacy Statement or
          our data practices, please contact us at
          <a href="mailto:fit-polyfeed@monash.edu">fit-polyfeed@monash.edu</a>
        </p>
      </div>

      <div
        style="
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 25px;
        "
      >
        <h2>Effective Date</h2>
        <p
          class="Introduction-p"
          style="width: 500px; text-align: center; font-weight: 900"
        >
          This Privacy Statement is effective as of 15-04-2024
        </p>
      </div>
    </main>
  </body>
</html>
